SmartTags/dev/AzureCognitiveConnector/Runner/bin
SmartTags/dev/AzureCognitiveConnector/Runner/obj
SmartTags/dev/AzureCognitiveConnector/TagExtractor/bin
SmartTags/dev/AzureCognitiveConnector/TagExtractor/obj
SmartTags/dev/AzureCognitiveConnector/.vs